@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');


html {
    width: auto;
    scroll-behavior: smooth;

}

body {
    margin: 0;
    padding: 0;
    width: 100%;

}

/* header */

#header {
    background-image : url("../img/topographie.jpg");
    height : 100vh;
    background-size : cover;
    
}

div.top-header {
    background-color :#262626;
    padding-top : 7px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width : 100%;
    
    
    
}

div.top-header .marker{
    width : 25px;
    
}

div.top-header .phone{
    width : 18px;
    margin-right : 3px;
    
    
}

div.top-header p {
    color : white;
    margin-right : 5px;
    font-family : 'Ubuntu', sans-serif;
    font-size : 13px;
}

div.sub-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items : center;
    width : 100%;
    height : 70px;
    
    
}

div.sub-header .logo {
    width : 120px;
    margin-left : 20px;
  
}

div.sub-header .burger {
    height : 35px;
    margin-right : 20px;
  

}

div.text {
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items : center;
    width : 100%;
   
    

}

div.text p {
    font-size : 17px;
    color : white;
    text-align : center;
    font-family : 'Ubuntu', sans-serif;
}

div.text .text-middle {
    font-weight: bold;
    font-size : 22px;
}

div.text .text-top {
    margin-top : 120px;
}

/*menu */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    

}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    position: relative;
    font-family : 'Ubuntu', sans-serif;
  
}


.burger {
    display: none;
    
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
    margin-right: 20px;


}

@media screen and (max-width: 768px) {

    .nav-links {
        position: absolute;
        right: 0px;
        height: 15vh;
        margin-top: 30px;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform -0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
    margin-right : 20px;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2 {
    opacity: 0;
}

.toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* MAX 736 */



@media (max-width: 736px) {

div.top-header {
    background-color :#262626;
    padding-top : 7px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width : 100%;
    
    
    
}

div.top-header .marker{
    width : 25px;
    
}

div.top-header .phone{
    width : 18px;
    margin-right : 3px;
    
    
}

div.top-header p {
    color : white;
    margin-right : 5px;
    font-family : 'Ubuntu', sans-serif;
    font-size : 13px;
}

div.sub-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items : center;
    width : 100%;
    height : 70px;
    
    
}

div.sub-header .logo {
    width : 130px;
    margin-left : 20px;
  
}

div.sub-header .burger {
    height : 35px;
    margin-right : 20px;
  

}

div.text {
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items : center;
    width : 100%;
   
    

}

div.text p {
    font-size : 19px;
    color : white;
    text-align : center;
    font-family : 'Ubuntu', sans-serif;
}

div.text .text-middle {
    font-weight: bold;
    font-size : 23px;
}

div.text .text-top {
    margin-top : 120px;
}

/*menu */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    

}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    position: relative;
    font-family : 'Ubuntu', sans-serif;
    text-transform: uppercase;
    
  
}


.burger {
    display: none;
    
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
    margin-right: 20px;


}

@media screen and (max-width: 768px) {

    .nav-links {
        position: absolute;
        height: 25vh;
        top : 53px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color :#262626;
        transform: translateX(100%);
        transition: transform -0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
    margin-right : 0px;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2 {
    opacity: 0;
}

.toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/*accueil */

.carre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    margin-top :40px;
    background-color : #2D8EA8;
    border-radius : 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 13px 30px -10px rgba(0,0,0,0.29);
 

}

 .circle .system {
   height: 150px;
   margin : 20px;
}

.circle .search {
    height: 130px;
    margin : 30px;
 }

 .circle .scan {
    height: 130px;
    margin : 30px;
 }

.carre h3 {
    color : #314B7C;
    font-family : 'Ubuntu';
    font-size : 20px;
}

.carre p {
   margin-top : -5px;
    text-align : center;
    color : #939194;
    margin-left : 30px;
    margin-right : 30px;
    font-family : 'Ubuntu';
    font-size : 17px;
}

}